<form style="width: 500px; margin: 0 auto; margin-top: 60px;" #formUser="ngForm" (ngSubmit)="onDeposito(formUser)"
    novalidate>

    <h1>Fazer Depósito</h1>
    <label for="valor">Valor</label>
    <input type="text" #valor="ngModel" ngModel name="valor" required><br>

    <label for="hash">Hash</label>
    <input type="text" name="hash" #hash="ngModel" ngModel required><br>


    <label for="dataHora">Data/Hora</label>
    <input [placeholder]="date" #dataHora="ngModel" ngModel name="dataHora" [value]="date" readonly required><br>

    <p [hidden]="!error" style="color: red;">
        {{ errorDesc }}
    </p>

    <br><br>
    <h1 style="color: red;">Atenção</h1>
    <b>Confirme os dados!</b> <br>
    Conta: <b>{{hash.value}}</b> <br>
    Valor: <b>R$ {{valor.value}}</b> <br>
    Data: <b>{{date.getUTCDate()}}/{{date.getMonth()}}/{{date.getFullYear()}}</b> <br>
    Hora: <b>{{date.getHours()}}h {{date.getMinutes()}}min</b> <br>

    <button class="btn waves-effect waves-light" style="width: 100%;"> <a style="color: #FFFFFF">Depositar</a>
    </button>
</form>